name: Build IPTV Vita (DraxTube)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Aggiornato

      - name: Install dependencies
        run: |
          apk add --no-interactive cmake make

      - name: Build Project
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Upload VPK
        uses: actions/upload-artifact@v4 # Aggiornato alla v4
        with:
          name: IPTV-Vita-DraxTube
          path: build/*.vpk
