name: Build IPTV Vita (DraxTube)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apk add --no-interactive cmake make

      - name: Build Project
        run: |
          mkdir -p build
          cd build
          # Passiamo il percorso corretto del toolchain
          cmake .. -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.toolchain.cmake
          make
