name: Build IPTV Vita (DraxTube)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apk add --no-interactive cmake make

      - name: Build Project
        run: |
          mkdir -p build
          cd build
          # Uso del toolchain specifico per PS Vita
          cmake .. -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.toolchain.cmake
          make

      - name: Upload VPK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Vita-DraxTube
          path: build/*.vpk
