name: Build IPTV Vita (DraxTube)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apk add --no-interactive cmake make

      - name: Prepare Workspace
        run: |
          # Se non hai messo un'icona, ne creiamo una finta per non far fallire il VPK
          mkdir -p sce_sys
          touch sce_sys/icon0.png 
          mkdir -p build

      - name: Build Project
        run: |
          cd build
          cmake .. -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.toolchain.cmake
          make

      - name: Upload VPK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Vita-DraxTube
          path: build/*.vpk
