name: Build PS Vita App

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk:latest # Usa l'immagine ufficiale vitasdk

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build VPK
        run: |
          mkdir build
          cd build
          cmake ..
          make
          # Il comando 'make' genererà il file .vpk se il CMakeLists è corretto

      - name: Upload VPK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: IPTV-Vita-Build
          path: build/*.vpk
