name: Build PS1 Atari Emulator
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Toolchain (Nugget/MIPS GCC)
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-mips-linux-gnu build-essential cmake
      - name: Build Project
        run: make
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: PS1-Atari-Emulator
          path: main.exe
